#start
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo
{
    width: 40px;
    border-radius: 20px;
    height: 40px;
}
#textbox
{
    width: 300px;
}
